/*Large Screen*/
@media screen and (max-width:1020px)
{
    /*Encabezadp*/
    .ENCABEZADO
    {
        margin: 0px;
        padding: 10px 50px;
        justify-content: center;  
        justify-content: space-between; 
    }
    .lOGO
    {
        margin: 0px;
        padding: 0px;
    }
    .MENUINICIO 
    {
        justify-content: space-between;
        justify-content: center;


    }
    .HOVER1 li
    { 
        margin: 0px;
        padding: 0px 20px;
    }
    .HOVER1
    {
        padding: 0px 20px;
    }

    .HOVER1 input
    {
        width: 100px;
    }
    .HOVER2
    {
        padding: 0px;
        margin: 0px 0px 0px 55px;

    }

    .MAIN
    {
        padding: 0px;
        margin: 0px 100px;
    }
    .PCABEZADO
    {
        padding: 0px;
        margin: 0px
    }
    .ORDENAMIENTO
    {
        display: flex;
        justify-content: center;  
        justify-content: space-between;  
    }

    .ROPA
    {
        padding: 40px 50px;
        justify-content: center;
    }
    .R1 a img
    {
        width: auto;
        height: 340px;
    }
    .CAPA
    {
    top: 500px;
    width: 226px;
    height: 40px;
    text-align: center;
    }
    .CAPA a h2
    {
        font-size: 30px;
    }
    .ZAPAT
    {
        padding: 40px 50px
    }
    .R2 a img
    {
        width: auto;
        height: 210px;
    }
    .CAPA2
    {
        top: 795px;
        width: 315px;
        height: 40px;
        text-align: center;
    }
    .CAPA2 a h2
    {
        font-size: 30px;
    }



    /*Estaciones*/
    .PORTADA
    {
        margin: 0px;
        padding: 0px 50px;
    }

    .PT1
    {
        padding: 0px 0px;
    }
    .PT1 img
    {
        height: 600px;
        width: auto;
    }
    .PORTADALETRAS1 
    {
    position: absolute;
    left:100px;
    top:970px;
    }
    .PORTADALETRAS1 h1
    {
    font-size: 40px;
    }
    .PORTADALETRAS1 p
    {
    font-size: 15px;
    }
    .PORTADALETRAS1 h2 a
    {
    font-size: 20px;
    }

    .PT2
    {
        padding: 0px;
    }
    .PT2 img
    {
        height: 600px;
        width: 900px;
    }
    .PORTADALETRAS2
    {
    position: absolute;
    left:120px;
    top:1480px;
    }
    .PORTADALETRAS2 h1
    {
    font-size: 40px;
    }
    .PORTADALETRAS2 p
    {
    font-size: 15px;
    }
    .PORTADALETRAS2 h2 a
    {
    font-size: 20px;
    }
    .PT3
    {
        padding: 0px;
    }
    .PT3 img
    {
        height: 600px;
        width: 900px;
    }
    .PORTADALETRAS3
    {
    position: absolute;
    left:160px;
    top:2280px;
    }
    .PORTADALETRAS3 h1
    {
    font-size: 40px;
    }
    .PORTADALETRAS3 p
    {
    font-size: 15px;
    }
    .PORTADALETRAS3 h2 a
    {
    font-size: 20px;
    }


    .PORTADALETRAS4
    {
    position: absolute;
    left:560px;
    top:2980px;
    }
    .PORTADALETRAS4 h1
    {
    font-size: 40px;
    }
    .PORTADALETRAS4 p
    {
    font-size: 15px;
    }
    .PORTADALETRAS4 h2 a
    {
    font-size: 20px;
    }

    .DECORACION
    {
    margin: 20px 50px 0px 50px;
    }

    /*Pie de pagina*/
    .PIEP
    {
    margin: 20px 50px 0px 50px;
    padding: 60px 100px 0px 100px;
    }

    .PI1
    {
    margin: 0px 0px 50px 0px;
    padding: 0px;
    }
    .PI1 h1
    {
        font-size: 20px;
        margin: 0px 0px 20px 0px;
    }
    .PI1 span
    {
    margin: 0px 0px 0px 0px;
    }
    .PI1 h2
    {
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }
    .REDES
    {
        border-radius:20px;
    }
    .REDES a img
    {
        width: auto;
        height: 20px;
    }
    .PI2
    {
         margin: 0px 0px 50px 0px;
         padding: 0px ;
    }
    .PI2 h1
    {
        font-size: 20px;
    }
    .PI2 li
    {
    margin-bottom: 50px;
    text-align: center;
    }

    .PI3 li
    {
    text-align: right;
    }

}